#my-portrait {
  width: 250px;
}

#my-cat {
  width: 250px;
}

#lab8 {
  width: 450px;
}

h1 {font-family: "Comic Sans Ms";
  font-size: 75px;
  text-align: center;
  color: #91f3fa;
}

p {font-family: "Comic Sans Ms";
  font-size: 25px;
  text-align: center;
  text-indent: 50px;
  margin-left: 40px;
  color: #ea91fa
}

body {
  background-color: #c96daf;
  width: auto;
  min-height: inherit;
  padding: 20px;
  margin: 10px;
  border: solid 10px #91f3fa;
}

h2 {font-family: "Comic Sans Ms";
font-size: 75px;
text-align: center;
color: #91f3fa;
}

li {font-family: "Comic Sans Ms";
font-size: 25px;
text-align: center;
color: #ea91fa
}

h3 {font-family: "Comic Sans Ms";
font-size: 75px;
text-align: center;
color: #91f3fa;
}

h4 {font-family: "Comic Sans Ms";
font-size: 75px;
text-align: center;
color: #91f3fa;
}
